name: Keepalive Workflow

on:
  schedule:
    - cron: "0 6 1 * *"
  workflow_dispatch:

jobs:
  keepalive:
    runs-on: ubuntu-latest
    steps:
      - name: Keep workflows alive
        uses: gautamkrishnar/keepalive-workflow@v1
